.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  transition: background-color 0.15s ease-in-out;
  height: 120px;
  display: flex;
  z-index: 8;
  border-bottom: 1px solid black;
}

.activeHeader {
  background-color: #e08976;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(39, 70, 84, 0.12);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerToggle {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  justify-self: flex-end;
}

.headerToggleContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headerMenu {
  border: 0;
}
