.navList {
  display: flex;
}

.navListItem {
  margin-right: 0.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.navListLink {
  color: var(--white);
  padding: 1rem;
  display: block;
}

.navVertical {
  .navList {
    flex-direction: column;
  }

  .navListItem {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .navListLink {
    text-align: center;
    font-size: 2rem;
  }
}
